<link rel="stylesheet" type="text/css" href="/../stylesheets/raysStyleLOL.css">
 <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Shrikhand" rel="stylesheet"> 
 <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet"> 
<script src="https://use.fontawesome.com/d1988935dc.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.0/journal/bootstrap.min.css">
<script src="./controllers/calendar.js"></script>
<h1> STYLIST DASHBOARD</h1>

<div class="btn-group-vertical">
    <button type="button" class="btn btn-primary"><a href="https://admin.appointlet.com/organizations/22406/bookables/26769">Update Trimr Availability</a></button>

</div>

<div id='raysWrap'>

    <div id='calendar'></div>

</div>