<br>
<br>
<br>
<h1>Stylist Page</h1>
<h3>Roll Tide</h3>
    <button ng-click="logout()">Log out</button>
<div ng-repeat="post in posts">

    <h3>{{post.title}}</h3>
    <br>
    <button ng-click="compose()">Compose</button>
    <h5>{{post.categoryname}}</h5>
   <!-- {{post.userid}} -->
    <a ng-href="/{{post.userid}}/user">{{post.authorfirstname}} {{post.authorlastname}}</a>
    <h5>    {{post.createdAt| date: 'medium' }} </h5>
       <a ng-href="/{{post.id}}">Read</a> <button ng-click="logout()">Log out</button>