<!--ignore-->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>

            <a href="/"><span class="glyphicon glyphicon-scissors" id="header">trimr</span></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/trimrworks"> How it Works</a></li>

                <li><a data-toggle="modal" data-target="#contactModal"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a data-toggle="modal" data-target="#stylistModal"><span class="glyphicon glyphicon-scissors"></span> Got an Idea for trimr?</a>
                </li>
                <!-- <li><a href="/createAccount1">My Fav Stylist</a></li> -->
                 <!-- <li class="headClick"><button ng-click="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</button></li></a> -->
                 <li><a ng-click="logout()"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>  
                 <!-- <li class="footClick"><a ng-click="logout()">LogOut</a></li> -->
            </ul>

        </div>
    </div>
</nav>
<div id="contactModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

        <!--Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Contact Us</h4>
            </div>

            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" form="subject">Name</label>
                        <input type="text" class="form-control input-sm" id="name" placeholder="Name" ng-model="subject">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" form="email">Email Address</label>
                        <input type="email" class="form-control input-sm" id="email" placeholder="Email" ng-model="email">
                    </div>
                    <br>
                    <textarea class="form-control input-md" id="messageBox" placeholder="Please include a brief message" ng-model="content"></textarea>
                    <br>

                    <button type="submit" class="btn btn-danger btn-sm" ng-click="getMessage()">Send </button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="stylistModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <!--  Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="text-center"
                <h4 class="modal-title">We respect your opinion, and want to know what we can do to be best, ever</h4>
                </div>
            </div>

            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" form="subject">First Name</label>
                        <input type="text" class="form-control input-sm" id="name" placeholder="First Name" ng-model="subject2">
                    </div>
                    <br>
                    <br>
                    <textarea class="form-control input-md" id="messageBox" placeholder="Please include a brief message" ng-model="content2" height:"15rem !important"></textarea>
                    <br>
                    <div class="text-center">
                        <br>
                    <button class="btn btn-danger btn-sm" ng-click="getStylistMessage()" data-dismiss="modal"> Send </button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>