body {
    /*margin: 0px auto;*/
    z-index: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background: rgb(194, 214, 214); */
}

.jumbotron {
    background: url("/images/backgroundMaster2.jpg")no-repeat center center fixed;
    /* padding-bottom: 6rem !important; */
}

.jumbotron h1 {
    font-size: 4rem !important;
}

.jumbotron h2 {
    font-size: 2.5rem !important;
    margin: 10px 5px 8px 5px;
}

.start-box {
    margin-top: 65px;
    background: #F7F7F7;
    color: black;
    width: 400px;
    height: auto;
    float: left;
    text-align: center;
    max-width: 100%;
    border-radius: 10px;
    opacity: .80;
}

b,
strong {
    color: royalblue;
}

#startBtn {
    margin-bottom: 6px;
}

img.img-responsive {
    height: 85px;
    width: 100%;
}

.row h2 {
    font-size: 1.5rem !important;
}

.row p {
    font-size: 1.25rem !important;
}

IMG {
    border-radius: 10px;
}


/* message modal styling*/

#messageBox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.modal-content {
    color: black !important;
    background: #F7F7F7;
    display: block;
}


/****** LOGIN MODAL ******/

.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
    text-align: center;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=email],
input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover,
input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help {
    font-size: 12px;
}


/* navbar styling */

.navbar-inverse {
    background: rgb(36, 45, 52)9F;
    opacity: 0.95;
    filter: alpha(opacity=60);
}

.navbar-brand {
    padding: 15px 15px 5px 5px;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background: rgb(36, 45, 52);
    opacity: 0.95;
    filter: alpha(opacity=50);
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    color: #fff;
    background: rgb(36, 45, 52);
    opacity: 0.5;
    filter: alpha(opacity=50);
}


/* start of create account header */

ol.breadcrumb {
    padding-top: 13px;
}


/* start of create Account styles */

#logoDiv {
    position: relative;
    left: 50%;
    margin-left: -40px;
    width: 94px;
    height: 94px;
    font-size: 18px;
    top: 20px;
    margin-top: 33px;
    background-color: red;
    border: 3px solid blue;
    border-radius: 5px;
    -webkit-box-pack: center;
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.wrapper {
    border: 3px solid blue;
    height: auto;
    width: 400px;
    max-width: 100%;
    position: relative;
    border-radius: 10px;
    /*top: 25rem;*/
    left: 50%;
    margin-left: -175px;
}

#email {
    font-size: 16px;
    transition: all linear 0.5s;
    background: transparent;
}

#email.ng-invalid {
    color: white;
    background: #d9534f;
}

#zipcode {
    font-size: 16px;
     transition: all linear 0.5s;
    background: transparent;
}

#zipcode.ng-invalid {
    color: white;
    background: red;
}
#signup-form {
    margin: 0px 10px 0px 10px;
}

h2.newAccount {
    text-align: center;
}

h2.newAccount2 {
    margin: 10px 0px 20px 0px;
    text-align: center;
}

#zipcode {
    margin-bottom: 15px;
}

.panel-title {
    display: inline;
    font-weight: bold;
}

.pl-ziro {
    padding-left: 0px;
}

#expiryMonth {
    margin-top: 5px;
}

#signUpBtn {
    /* left: 50%; */
    position: relative;
    /* margin-left: -85px; */
    margin-bottom: 7px;
}


/* *******STYLIST CARD STYLES******* */


/* STYLIST */

.profile-info span {
    display: block;
    font-size: 12px;
    color: #4CB493;
    letter-spacing: 2px;
}

.profile-info a {
    color: #4CB493;
}

.profile-info i {
    color: #4CB493;
    padding: 15px 35px 0px 35px;
}

.profile-card:hover .profile-pic {
    transform: scale(1.1);
}

.profile-card:hover .profile-info hr {
    opacity: 1;
}

#clientViewBtn {
    position: relative;
    left: 50%;
    margin-left: -75px;
}


/* Underline From Center */

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 52%;
    right: 52%;
    bottom: 0;
    background: #FFFFFF;
    border-radius: 50%;
    height: 3px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.profile-card:hover .hvr-underline-from-center:before,
.profile-card:focus .hvr-underline-from-center:before,
.profile-card:active .hvr-underline-from-center:before {
    left: 0;
    right: 0;
    height: 1px;
    background: #CECECE;
}

.loginH1 {
    color: gray;
}

h1 {
    color: white;
    text-align: center;
}

.src-image {
    display: none;
}

.card {
    overflow: hidden;
    position: relative;
    border: 1px solid #CCC;
    border-radius: 8px;
    text-align: center;
    padding: 0px;
    background-color: #284c79;
    color: rgb(136, 172, 217);
}

.card .header-bg {
    /* This stretches the canvas across the entire hero unit */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px #FFF solid;
    /* This positions the canvas under the text */
    z-index: 1;
}

.card .avatar {
    position: relative;
    margin-top: 15px;
    z-index: 100;
}

.card .avatar img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 30, 0.8);
}


/* footer styles */

.navbar-absolute-bottom {
    background: lightblue;
    /*bottom: 1.2rem;*/
}

.rowBottom {
    padding-top: 0.5rem;
    padding-bottom: 1.2rem;
}

.copyRight {
    padding-top: 1rem;
}

body {
    /* background: no-repeat center url('https://images.unsplash.com/photo-1493256338651-d82f7acb2b38?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&dl=phung-h-i-247271.jpg&s=aa19eec5e88a5acb6e92fb039e5e38f1, ')  */
}

.container {
    padding: 20px;
}

.profile-card {
    background-color: #222222;
    margin-bottom: 20px;
    border-radius: 10px;
}

.profile-pic {
    border-radius: 50%;
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    max-width: 100px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.profile-info {
    color: #BDBDBD;
    padding: 25px;
    position: relative;
    margin-top: 15px;
}

.profile-info h2 {
    color: #E8E8E8;
    letter-spacing: 4px;
    padding-bottom: 12px;
}

.profile-info span {
    display: block;
    font-size: 12px;
    color: #4CB493;
    letter-spacing: 2px;
}

.profile-info a {
    color: #4CB493;
}

.profile-info i {
    color: #4CB493;
    padding: 15px 35px 0px 35px;
}

.profile-card:hover .profile-pic {
    transform: scale(1.1);
}

.profile-card:hover .profile-info hr {
    opacity: 1;
}


/* Underline From Center */

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 52%;
    right: 52%;
    bottom: 0;
    background: #FFFFFF;
    border-radius: 50%;
    height: 3px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.profile-card:hover .hvr-underline-from-center:before,
.profile-card:focus .hvr-underline-from-center:before,
.profile-card:active .hvr-underline-from-center:before {
    left: 0;
    right: 0;
    height: 1px;
    background: #CECECE;
}

.img-responsive {
    border-radius: 10px;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}


/* Text colors */

.text-color-white {
    color: #FFFFFF;
}

.text-color-black {
    color: #000000;
}

.text-color-theme {
    color: #6f5499;
}


/* Background colors */

.theme-bg {
    background: #6f5499;
}

.bg-black {
    background: #000000;
}

.secondary-bg {
    background: #f0ecf6;
}


/* Margin */


/* 
.margin-bottom-0 {
	margin-bottom: 0 !important;
}

.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.margin-bottom-15 {
	margin-bottom: 15px !important;
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.margin-bottom-30 {
	margin-bottom: 30px !important;
}

.margin-bottom-40 {
	margin-bottom: 40px !important;
}

.margin-bottom-50 {
	margin-bottom: 50px !important;
}

.margin-bottom-60 {
	margin-bottom: 60px !important;
}

.margin-bottom-70 {
	margin-bottom: 70px !important;
}

.margin-bottom-80 {
	margin-bottom: 80px !important;
}

.margin-bottom-90 {
	margin-bottom: 90px !important;
}

.margin-bottom-100 {
	margin-bottom: 100px !important;
}

.margin-bottom-120 {
	margin-bottom: 120px !important;
}

.margin-right-0 {
	margin-right: 0 !important;
}

.margin-right-5 {
	margin-right: 5px !important;
}

.margin-right-10 {
	margin-right: 10px !important;
} */


/* Padding surround */


/* 
.padding-0 {
	padding: 0px !important;
}

.padding-30 {
	padding: 30px !important;
}

.padding-50 {
	padding: 40px !important;
}

 */


/* Buttons */
<<<<<<< HEAD

=======
>>>>>>> 677ccb4b7e0b9ef851c6fd06a09a88f54f5f3956

/*RAY YOUR SHIT IS FUCKING UP, GIVE A CLASS AND ID TO DIFFERENTIATE*/


/* Buttons */


/*
.btn {


/*.btn {
	letter-spacing: 1px;
	text-decoration: none;
	background: none;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    white-space: nowrap;
	font-size:14px;
	line-height:20px;
	font-weight:700;
	text-transform:uppercase;
	border: 3px solid;
	padding:8px 20px;
}

.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.btn-outlined.btn-theme {
    background: none;
    color: #FFF;
    border-color: #4CB493;
    align-items: center;
     justify-content: center;

}

.btn-outlined.btn-theme:hover,
.btn-outlined.btn-theme:active {
    color: #FFF;
    background: #4CB493;
    border-color: #4CB493;
    position: absolute;
    
}

.btn-outlined.btn-black {
    background: none;
    color: #000000;
	border-color: #000000;
}

.btn-outlined.btn-black:hover,
.btn-outlined.btn-black:active {
    color: #FFF;
    background: #000000;
    border-color: #000000;
}

.btn-outlined.btn-white {
    background: none;
    color: #FFFFFF;
	border-color: #FFFFFF;
}

.btn-outlined.btn-white:hover,
.btn-outlined.btn-white:active {
    color: #4CB493;
    background: #FFFFFF;
    border-color: #FFFFFF;
}


.btn-lg{
	font-size:18px;
	line-height:22px;
	border: 10px solid;
	padding:13px 40px;
}*/


/*h1{
    height: 50px;
  color:#4CB493 !important;
  text-align: center;
  font-family: 'Shrikhand', cursive;
  padding-bottom: 70px;
}*/


/*.jumbotron{
  background-color: #222222 !important;
  height: 220px;
}*/


/*#rbdiv{
    padding-left: 170px;
    position: center;
} */