body {
    margin: 0px auto;
    border: 0px;
    z-index: 0;
    padding: 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background: rgb(194, 214, 214); */
}

.jumbotron {
    padding-top: 12rem;
    /* background: url("/images/barberShopCinema.gif")no-repeat center center fixed; */
    background: url("/images/backgroundMaster2.jpg")no-repeat center center fixed;
    font-family: 'Halflings';
    width: 100%;
    /* padding-bottom: 6rem !important; */
}

.jumbotron h1 {
    font-size: 4rem !important;
    /* margin-bottom: .8rem; */
    font-family: 'Halflings';
    font-weight: 400;
}

h1.firstline {
    margin-bottom: 2px;
    line-height: 36px;
}

h1.secondline {
    margin-top: 1rem;
    line-height: 36px;
    margin: 2px 5px 8px 5px;
}


/* .jumbotron h2 {
    font-size: 2.5rem !important;
    margin: 2px 5px 8px 5px;
} */

.jumbotron h3 {
    font-size: 2.5rem !important;
    margin: 2px 5px 8px 5px;
}

#accountlink {
    color: blue;
}

.start-box {
    margin-top: 65px;
    background: #F7F7F7;
    color: black;
    width: 400px;
    height: auto;
    float: left;
    text-align: center;
    max-width: 100%;
    border-radius: 10px;
    opacity: .80;
}

b,
strong {
    color: #005cb2;
}

#startBtn {
    margin-bottom: 6px;
}


/* 
img.img-responsive {
    height: 85px;
    width: 100%;
} */

.row h2 {
    font-size: 1.5rem !important;
}

.row p {
    font-size: 1.25rem !important;
}

IMG {
    border-radius: 10px;
}


/* message modal styling*/

#messageBox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.modal-content {
    color: black !important;
    background: #F7F7F7;
    display: block;
}


/****** LOGIN MODAL ******/

#login {
    margin-top: 10rem;
}

.loginmodal-container {
    margin-top: 75px;
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
    text-align: center;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=email],
input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover,
input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
    margin-top: 2rem;
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    margin-bottom: 8rem;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help {
    font-size: 12px;
}

.fillerBottom {
    margin-bottom: 10rem;
    height: 1px;
    width: 1px;
}


/* navbar styling */

#header {
    /* margin-left: 1rem; */
    margin-top: 7px;
    color: #fff;
    font-size: 22px;
}

.headClick {
    margin-top: 10px;
    color: #9d9d9d;
}

.navbar-inverse {
    background: rgb(36, 45, 52)9F;
    opacity: 0.95;
    filter: alpha(opacity=60);
}

.navbar-brand {
    padding: 15px 15px 5px 5px;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background: rgb(36, 45, 52);
    opacity: 0.95;
    filter: alpha(opacity=50);
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    color: #fff;
    background: rgb(36, 45, 52);
    opacity: 0.5;
    filter: alpha(opacity=50);
}


/* start of create account header */

ol.breadcrumb {
    padding-top: 13px;
}


/* START OG HOW IT WORKS CONTENT VIEW  */

.single-portfolio a {
    display: block;
    line-height: 0;
    position: relative;
    border-radius: 10px;
}

.single-portfolio a::before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: scale(0.5);
    transition: all 0.3s ease 0s;
    width: 100%;
    border-radius: 10px;
}

.single-portfolio:hover a::before {
    opacity: .5;
    transform: scale(1);
}

.single-portfolio a::after {
    color: #fff;
    content: "Clients";
    font-size: 35px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: scale(0);
    transition: all 0.3s ease 0s;
    border-radius: 10px;
}

.single-portfolio:hover a::after {
    transform: scale(1);
}

.single-portfoli2 a {
    display: block;
    line-height: 0;
    position: relative;
    border-radius: 10px;
}

.single-portfoli2 a::before {
    background: #000 none repeat scroll 0 0;
    content: "Stylists";
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: scale(0.5);
    transition: all 0.3s ease 0s;
    width: 100%;
    border-radius: 10px;
}

.single-portfoli2:hover a::before {
    opacity: .5;
    transform: scale(1);
}

.single-portfoli2 a::after {
    color: #fff;
    content: "Stylists";
    font-size: 35px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: scale(0);
    transition: all 0.3s ease 0s;
    border-radius: 10px;
}

.single-portfoli2:hover a::after {
    transform: scale(1);
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
/* h1.works {
    color: black;
    text-align: center;
}

.stylistFAQ {
    height: 15rem;
    width: 15rem;
    background-color: blue;
    border-radius: 100%;
}

.clientFAQ {
    height: 15rem;
    width: 15rem;
    background-color: blue;
    border-radius: 100%;
}
 */


/* start of create Account styles */

#logo {
    color: white;
    font-size: 30px;
}

#logoDiv {
    z-index: 2;
    position: relative;
    left: 50%;
    margin-left: -5.8rem;
    width: 134px;
    height: 134px;
    font-size: 3.6rem;
    top: 20px;
    margin-top: 6rem;
    background-color: #d9534f;
    border: 2px solid #ac2925;
    border-radius: 5px;
    -webkit-box-pack: center;
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.wrapper {
    border: 3px solid blue;
    height: auto;
    width: 400px;
    max-width: 100%;
    position: relative;
    border-radius: 10px;
    /*top: 25rem;*/
    left: 50%;
    margin-left: -175px;
}

#email {
    font-size: 16px;
    transition: all linear 0.5s;
    background: transparent;
    margin-bottom: 3px;
}

#email.ng-invalid {
    color: white;
    background: red;
}

#zipcode {
    font-size: 16px;
    transition: all linear 0.5s;
    background: transparent;
}

#zipcode.ng-invalid {
    color: white;
    background: red;
}

#signup-form {
    margin: 0px 10px 0px 10px;
}

h2.newAccount {
    text-align: center;
}

h2.newAccount2 {
    margin: 10px 0px 20px 0px;
    text-align: center;
}

#zipcode {
    margin-bottom: 15px;
}

.panel-title {
    display: inline;
    font-weight: bold;
}

.pl-ziro {
    padding-left: 0px;
}

#expiryMonth {
    margin-top: 5px;
}

#signUpBtn {
    /* left: 50%; */
    position: relative;
    /* margin-left: -85px; */
    margin-bottom: 7px;
}


/* *******STYLIST CARD STYLES******* */


/* STYLIST */

span.subtitle {
    color: white !important;
    font-size: 1.4rem !important;
    display: block;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.profile-info span {
    display: block;
    font-size: 12px;
    color: #4CB493;
    letter-spacing: 2px;
}

.profile-info a {
    color: #4CB493;
}

.profile-info i {
    color: #4CB493;
    padding: 15px 35px 0px 35px;
}

.profile-card:hover .profile-pic {
    transform: scale(1.1);
}

.profile-card:hover .profile-info hr {
    opacity: 1;
}

#clientViewBtn {
    position: relative;
    left: 50%;
    margin-left: -75px;
}


/* Underline From Center */

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 52%;
    right: 52%;
    bottom: 0;
    background: #FFFFFF;
    border-radius: 50%;
    height: 3px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.profile-card:hover .hvr-underline-from-center:before,
.profile-card:focus .hvr-underline-from-center:before,
.profile-card:active .hvr-underline-from-center:before {
    left: 0;
    right: 0;
    height: 1px;
    background: #CECECE;
}

.loginH1 {
    color: gray;
}

.nloginH2 {
    color: red;
}

h1.stylist {
    color: white;
    text-align: center;
}

.src-image {
    display: none;
}

.card {
    overflow: hidden;
    position: relative;
    border: 1px solid #CCC;
    border-radius: 8px;
    text-align: center;
    padding: 0px;
    background-color: #284c79;
    color: rgb(136, 172, 217);
}

.card .header-bg {
    /* This stretches the canvas across the entire hero unit */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px #FFF solid;
    /* This positions the canvas under the text */
    z-index: 1;
}

.card .avatar {
    position: relative;
    margin-top: 15px;
    z-index: 100;
}

.card .avatar img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 30, 0.8);
}


/* footer styles */

.navbar-absolute-bottom {
    background: lightblue;
    margin-top: 12rem;
    margin-bottom: 0px !important;
    /* position: fixed !important; */
    /*bottom: 1.2rem;*/
}

.footClick {
    color: #fff;
}

.rowBottom {
    padding-top: 0.5rem;
    padding-bottom: 1.2rem;
}

.copyRight {
    padding-top: 1rem;
}

.container {
    padding: 20px;
}

.profile-card {
    background-color: #222222;
    margin-bottom: 20px;
    border-radius: 10px;
}
#keisha{
    width: 100px;
}
.profile-pic {
    border-radius: 50%;
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    max-height: 100px;
    max-width: 100px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.profile-info {
    color: #BDBDBD;
    padding: 25px;
    position: relative;
    margin-top: 15px;
    min-height: 315px;
}

.profile-info h2 {
    color: #E8E8E8;
    letter-spacing: 4px;
    padding-bottom: 12px;
}

.profile-info span {
    display: block;
    font-size: 12px;
    color: #4CB493;
    letter-spacing: 2px;
}

.profile-info a {
    color: #4CB493;
}

.profile-info i {
    color: #4CB493;
    padding: 15px 35px 0px 35px;
}

.profile-card:hover .profile-pic {
    transform: scale(1.1);
}

.profile-card:hover .profile-info hr {
    opacity: 1;
}


/* Underline From Center */

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 52%;
    right: 52%;
    bottom: 0;
    background: #FFFFFF;
    border-radius: 50%;
    height: 3px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.profile-card:hover .hvr-underline-from-center:before,
.profile-card:focus .hvr-underline-from-center:before,
.profile-card:active .hvr-underline-from-center:before {
    left: 0;
    right: 0;
    height: 1px;
    background: #CECECE;
}

.img-responsive {
    border-radius: 10px;
}


/* Text colors */

.text-color-white {
    color: #FFFFFF;
}

.text-color-black {
    color: #000000;
}

.text-color-theme {
    color: #6f5499;
}


/* Background colors */

.theme-bg {
    background: #6f5499;
}

.bg-black {
    background: #000000;
}

.secondary-bg {
    background: #f0ecf6;
}
#name{
    margin: 3px;
}
#phone{
    margin-left: 3px;
}
#license {
    margin-left: 4px;
    width: 18.9rem
}


/* .form-group{
    width: 1.89rem;
} */


/* ##### RAYS WACKY STYLIST CALENDAR####### */

#stylist.jumbotron {
    padding-top: 10rem;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background: url("/images/backgroundMaster2.jpg")no-repeat center center fixed;
    ;
}

#raysWrap {
    width: 100%;
    margin: 0 auto;
}

#external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    text-align: left;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

.external-event {
    /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    background: #3366CC;
    color: #fff;
    font-size: .85em;
    cursor: pointer;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

#calendar {
    /* 		float: right; */
    margin: 0 auto;
    width: 75%;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 1px 2px #C3C3C3;
    -webkit-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
td.fc-day {
    background: #FFF !important;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

td.fc-today {
    background: #FFF !important;
    position: relative;
}

.fc-first th {
    font-family: 'Roboto', sans-serif;
    background: #37474f !important;
    color: #FFF;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.fc-event-inner {
    font-family: 'Roboto', sans-serif;
    background: #03a9f3!important;
    color: #FFF!important;
    font-size: 12px!important;
    font-weight: 500!important;
    padding: 5px 0px!important;
}

.fc {
    direction: ltr;
    text-align: left;
}

.fc table {
    border-collapse: collapse;
    border-spacing: 0;
}

html .fc,
.fc table {
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica;
}

.fc td,
.fc th {
    padding: 0;
    vertical-align: top;
}

tr {
    width: 75%;
}

.fc-header td {
    white-space: nowrap;
    padding: 15px 10px 0px;
}

.fc-header-left {
    width: 25%;
    text-align: left;
}

.fc-header-center {
    text-align: center;
}

.fc-header-right {
    width: 25%;
    text-align: right;
}

.fc-header-title {
    display: inline-block;
    vertical-align: top;
    margin-top: -5px;
}

.fc-header-title h2 {
    margin-top: 0;
    white-space: nowrap;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

span.fc-button {
    font-family: 'Roboto', sans-serif;
    border-color: #37474f;
    color: #37474f;
}

.fc-state-down,
.fc-state-active {
    background-color: #37474f !important;
    color: #FFF !important;
}

.fc .fc-header-space {
    padding-left: 10px;
}

.fc-header .fc-button {
    margin-bottom: 1em;
    vertical-align: top;
}


/* buttons edges butting together */

.fc-header .fc-button {
    margin-right: -1px;
}

.fc-header .fc-corner-right,

/* non-theme */

.fc-header .ui-corner-right {
    /* theme */
    margin-right: 0;
    /* back to normal */
}


/* button layering (for border precedence) */

.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
    z-index: 2;
}

.fc-header .fc-state-down {
    z-index: 3;
}

.fc-header .fc-state-active,
.fc-header .ui-state-active {
    z-index: 4;
}


/* Content
------------------------------------------------------------------------*/

.fc-content {
    clear: both;
    zoom: 1;
    /* for IE7, gives accurate coordinates for [un]freezeContentHeight */
}

.fc-view {
    width: 100%;
    overflow: hidden;
}


/* Cell Styles
------------------------------------------------------------------------*/


/* <th>, usually */

.fc-widget-content {
    /* <td>, usually */
    border: 1px solid #e5e5e5;
}

.fc-widget-header {
    border-bottom: 1px solid #EEE;
}

.fc-state-highlight {
    /* <td> today cell */
    /* TODO: add .fc-today to <th> */
    /* background: #fcf8e3; */
}

.fc-state-highlight>div>div.fc-day-number {
    background-color: white;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 4px;
}

.fc-cell-overlay {
    /* semi-transparent rectangle while dragging */
    background: #bce8f1;
    opacity: .3;
    filter: alpha(opacity=30);
    /* for IE */
}


/* Buttons
------------------------------------------------------------------------*/

.fc-button {
    position: relative;
    display: inline-block;
    padding: 0 .6em;
    overflow: hidden;
    height: 1.9em;
    line-height: 1.9em;
    white-space: nowrap;
    cursor: pointer;
}

.fc-state-default {
    /* non-theme */
    border: 1px solid;
}

.fc-state-default.fc-corner-left {
    /* non-theme */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.fc-state-default.fc-corner-right {
    /* non-theme */
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


/*
	Our default prev/next buttons use HTML entities like ‹ › « »
	and we'll try to make them look good cross-browser.
*/

.fc-text-arrow {
    margin: 0 .4em;
    font-size: 2em;
    line-height: 23px;
    vertical-align: baseline;
    /* for IE7 */
}

.fc-button-prev .fc-text-arrow,
.fc-button-next .fc-text-arrow {
    /* for ‹ › */
    font-weight: bold;
}


/* icon (for jquery ui) */

.fc-button .fc-icon-wrap {
    position: relative;
    float: left;
    top: 50%;
}

.fc-button .ui-icon {
    position: relative;
    float: left;
    margin-top: -50%;
    *margin-top: 0;
    *top: -50%;
}

.fc-state-default {
    border-color: white;
    color: #ff3b30;
}

.fc-button-month.fc-state-default,
.fc-button-agendaWeek.fc-state-default,
.fc-button-agendaDay.fc-state-default {
    min-width: 67px;
    text-align: center;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
    color: #333333;
    background-color: #FFE3E3;
}

.fc-state-hover {
    color: #ff3b30;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.fc-state-down,
.fc-state-active {
    background-color: whitesmoke;
    background-image: none;
    outline: 0;
    color: #FFFFFF;
}

.fc-state-disabled {
    cursor: default;
    background-image: none;
    background-color: white;
    filter: alpha(opacity=65);
    box-shadow: none;
    border: 1px solid #FFE3E3;
    color: #ff3b30;
}


/* Global Event Styles
------------------------------------------------------------------------*/

.fc-event-container>* {
    z-index: 8;
}

.fc-event-container>.ui-draggable-dragging,
.fc-event-container>.ui-resizable-resizing {
    z-index: 9;
}

.fc-event {
    border: 1px solid #FFF;
    /* default BORDER color */
    background-color: #FFF;
    /* default BACKGROUND color */
    color: #919191;
    /* default TEXT color */
    font-size: 12px;
    cursor: default;
}

.fc-event.chill {
    background-color: #f3dcf8;
}

.fc-event.info {
    background-color: #c6ebfe;
}

.fc-event.important {
    background-color: #FFBEBE;
}

.fc-event.success {
    background-color: #BEFFBF;
}

.fc-event:hover {
    opacity: 0.7;
}

a.fc-event {
    text-decoration: none;
}

a.fc-event,
.fc-event-draggable {
    cursor: pointer;
}

.fc-rtl .fc-event {
    text-align: right;
}

.fc-event-inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 15px;
}

.fc-event-time,
.fc-event-title {
    padding: 0 1px;
}

.fc .ui-resizable-handle {
    display: block;
    position: absolute;
    z-index: 99999;
    overflow: hidden;
    /* hacky spaces (IE6/7) */
    font-size: 300%;
    /* */
    line-height: 50%;
    /* */
}


/* Horizontal Events
------------------------------------------------------------------------*/

.fc-event-hori {
    border-width: 1px 0;
    margin-bottom: 1px;
}

.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
    border-left-width: 1px;
    /*
border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
*/
}

.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start {
    border-right-width: 1px;
    /*
border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
*/
}


/* resizable */

.fc-event-hori .ui-resizable-e {
    top: 0 !important;
    /* importants override pre jquery ui 1.7 styles */
    right: -3px !important;
    width: 7px !important;
    height: 100% !important;
    cursor: e-resize;
}

.fc-event-hori .ui-resizable-w {
    top: 0 !important;
    left: -3px !important;
    width: 7px !important;
    height: 100% !important;
    cursor: w-resize;
}

.fc-event-hori .ui-resizable-handle {
    _padding-bottom: 14px;
    /* IE6 had 0 height */
}


/* Reusable Separate-border Table
------------------------------------------------------------*/

table.fc-border-separate {
    border-collapse: separate;
}

.fc-border-separate th,
.fc-border-separate td {
    border-width: 1px 0 0 1px;
}

.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
    border-right-width: 1px;
}

.fc-border-separate tr.fc-last td {}

.fc-border-separate .fc-week .fc-first {
    border-left: 0;
}

.fc-border-separate .fc-week .fc-last {
    border-right: 0;
}

.fc-border-separate tr.fc-last th {
    border-bottom-width: 1px;
    border-color: #cdcdcd;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
    border-top-width: 0;
}


/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/

.fc-grid th {
    text-align: center;
}

.fc .fc-week-number {
    width: 22px;
    text-align: center;
}

.fc .fc-week-number div {
    padding: 0 2px;
}

.fc-grid .fc-day-number {
    float: right;
    padding: 0 2px;
}

.fc-grid .fc-other-month .fc-day-number {
    opacity: 0.3;
    filter: alpha(opacity=30);
    /* for IE */
    /* opacity with small font can sometimes look too faded
	   might want to set the 'color' property instead
	   making day-numbers bold also fixes the problem */
}

.fc-grid .fc-day-content {
    clear: both;
    padding: 2px 2px 1px;
    /* distance between events and day edges */
}


/* event styles */

.fc-grid .fc-event-time {
    font-weight: bold;
}


/* right-to-left */

.fc-rtl .fc-grid .fc-day-number {
    float: left;
}

.fc-rtl .fc-grid .fc-event-time {
    float: right;
}


/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/

.fc-agenda table {
    border-collapse: separate;
}

.fc-agenda-days th {
    text-align: center;
}

.fc-agenda .fc-agenda-axis {
    width: 50px;
    padding: 0 4px;
    vertical-align: middle;
    text-align: right;
    white-space: nowrap;
    font-weight: normal;
}

.fc-agenda .fc-week-number {
    font-weight: bold;
}

.fc-agenda .fc-day-content {
    padding: 2px 2px 1px;
}


/* make axis border take precedence */

.fc-agenda-days .fc-agenda-axis {
    border-right-width: 1px;
}

.fc-agenda-days .fc-col0 {
    border-left-width: 0;
}


/* all-day area */

.fc-agenda-allday th {
    border-width: 0 1px;
}

.fc-agenda-allday .fc-day-content {
    min-height: 34px;
    /* TODO: doesnt work well in quirksmode */
    _height: 34px;
}


/* divider (between all-day and slots) */

.fc-agenda-divider-inner {
    height: 2px;
    overflow: hidden;
}

.fc-widget-header .fc-agenda-divider-inner {
    background: #eee;
}


/* slot rows */

.fc-agenda-slots th {
    border-width: 1px 1px 0;
}

.fc-agenda-slots td {
    border-width: 1px 0 0;
    background: none;
}

.fc-agenda-slots td div {
    height: 20px;
}

.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
    border-top-width: 0;
}

.fc-agenda-slots tr.fc-minor th.ui-widget-header {
    *border-top-style: solid;
    /* doesn't work with background in IE6/7 */
}


/* Vertical Events
------------------------------------------------------------------------*/

.fc-event-vert {
    border-width: 0 1px;
}

.fc-event-vert.fc-event-start {
    border-top-width: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.fc-event-vert.fc-event-end {
    border-bottom-width: 1px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.fc-event-vert .fc-event-time {
    white-space: nowrap;
    font-size: 10px;
}

.fc-event-vert .fc-event-inner {
    position: relative;
    z-index: 2;
}

.fc-event-vert .fc-event-bg {
    /* makes the event lighter w/ a semi-transparent overlay  */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .25;
    filter: alpha(opacity=25);
}

.fc .ui-draggable-dragging .fc-event-bg,

/* TODO: something nicer like .fc-opacity */

.fc-select-helper .fc-event-bg {
    display: none\9;
    /* for IE6/7/8. nested opacity filters while dragging don't work */
}


/* resizable */

.fc-event-vert .ui-resizable-s {
    bottom: 0 !important;
    /* importants override pre jquery ui 1.7 styles */
    width: 100% !important;
    height: 8px !important;
    overflow: hidden !important;
    line-height: 8px !important;
    font-size: 11px !important;
    font-family: monospace;
    text-align: center;
    cursor: s-resize;
}

.fc-agenda .ui-resizable-resizing {
    /* TODO: better selector */
    _overflow: hidden;
}

thead tr.fc-first {
    background-color: #f7f7f7;
}

table.fc-header {
    background-color: #FFFFFF;
    border-radius: 6px 6px 0 0;
}

.fc-week .fc-day>div .fc-day-number {
    font-size: 15px;
    margin: 2px;
    min-width: 19px;
    padding: 6px;
    text-align: center;
    width: 30px;
    height: 30px;
}

.fc-sun,
.fc-sat {
    color: #b8b8b8;
}

.fc-week .fc-day:hover .fc-day-number {
    background-color: #B8B8B8;
    border-radius: 50%;
    color: #FFFFFF;
    transition: background-color 0.2s;
}

.fc-week .fc-day.fc-state-highlight:hover .fc-day-number {
    background-color: #ff3b30;
}

.fc-button-today {
    border: 1px solid rgba(255, 255, 255, .0);
}

.fc-view-agendaDay thead tr.fc-first .fc-widget-header {
    text-align: right;
    padding-right: 10px;
}


/* Events
-----------------------------------------------------*/

.fc-event {
    background: #fff !important;
    color: #000 !important;
}


/* for vertical events */

.fc-event-bg {
    display: none !important;
}

.fc-event .ui-resizable-handle {
    display: none !important;
}

h1.styleDash {
    color: #fff !important;
    font-family: 'Shrikhand', cursive;
    font-size: 60px
}

h2 {
    color: gray;
}

.time-slot {}

.time-slot input {
    display: none;
}

.time-slot label {
    padding: 10px 20px;
    color: #FFF;
    cursor: pointer;
    background: #EEE;
    border-radius: 5px;
    transition: 0.3s ease all;
}

.time-slot input:checked~label {
    background: #f2dede;
    cursor: not-allowed;
    animation: flashBooked 0.5s ease;
}

.time-slot input:not(:checked)~label {
    background: #6AB074;
    animation: flashAvailable 0.5s ease;
}


/* animation for the time slot to flash red */

@keyframes flashBooked {
    0%,
    100% {
        background: #f2dede;
        transform: scale(1);
    }
    50% {
        background: #F99090;
        transform: scale(1.5);
    }
}


/* animation for the time slot to flash green */

@keyframes flashAvailable {
    0%,
    100% {
        background: #6AB074;
        transform: scale(1);
    }
    50% {
        background: rgb(119, 218, 78);
        transform: scale(1.5);
    }
}

.btn.btn-primary {
    background-color: #4CB493 !important;
    font-family: 'Shrikhand', cursive;
    font-size: 25px;
}

.btn-group-vertical {
    padding-bottom: 20px;
}

a {
    color: white;
    ;
}