<div class="jumbotron">
    <br><br><br>
    <div class="text-center">
        <h1 style="color:white"> Choose a Mobile Stylist</h1>
        
        <div class="col-lg-6 col-lg-offset-4" id="rbdiv">
        </div>
    </div>
    <!-- <button ng-click="logout()">Log out</button> -->
</div>
<div class="text-center">
    <h2 style= "color:black"> Make an appointment and we'll come to you!</h2>
    <h2>Need a cut on the double? </h2>
    <h4>Rapid booking will pair you</h4>
    <h4>with our next available stylist</h4>
</div>
<br>
<!-- <div ng-repeat="u in user">
<h1>hello your role is {{u.role}}</h1>
</div> -->
<button class="btn btn-outlined btn-danger btn-lg" id="clientViewBtn" style="position:center-align" data-appointlet-organization="mobile-cutz"
    data-appointlet-service="47886" data-wow-delay="0.7s">Rapid Booking!!</button>

<div class="container">
    <div class="row">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <div class="container">
            <div class="row">
                <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
                <!-- bootsnipp Circle Menu -->
                <!-- <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5715866801509976" data-ad-slot="3922266447" data-ad-format="auto"></ins> -->
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <br>
                <br>
                <div class="col-lg-12">
                    <div>
                        <div class="col-md-4">
                            <div class="profile-card text-center">
                                <img class="img-responsive" id="backpic" src="https://images.unsplash.com/photo-1451188502541-13943edb6acb?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925">
                                <div class="profile-info">
                                    <img class="profile-pic" src="https://pbs.twimg.com/profile_images/804363756193148928/H_Ere7BZ.jpg">
                                    <h2 class="hvr-underline-from-center">Abby Mathews<span>Professional Stylist</span></h2>
                                    <star-rating-comp rating="'3.0'"></star-rating-comp>
                                    <div>"Abby does wonderful work on my hair. Always on time and courteous. A true professional!"
                                        - Jennifer Boston, MA
                                        <br> "She cut my son's hair for prom. He never looked better." - Belinda Hoover,
                                        AL </div>
                                    <div class="row">

                                        <i class="fa fa-car fa-3x" type="button" data-appointlet-organization="mobile-cutz" data-appointlet-bookable="26772"><span class="subtitle">Book</span></i>
                                        <a href="http://www.instagram.com"><i class="fa fa-instagram fa-3x"><span class="subtitle">instagram</span></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="profile-card text-center">
                                <img class="img-responsive" src="https://images.unsplash.com/photo-1454678904372-2ca94103eca4?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925">
                                <div class="profile-info">
                                    <img class="profile-pic" id="keisha" src="http://i.imgur.com/wfw6H9t.png?1">
                                    <h2 class="hvr-underline-from-center">Keisha Bennett<span>Professional Stylist</span></h2>
                                    <div>"Keisha cut my hair quickly and professionally at my home, saved time and money" <br>
                                        - Michael Rambin Lake Charles, LA
                                        <br> "Came to the office, did a quick clean cut and no mess." - Roderick Birmingham, AL
                                    </div>
                                    <div class="row">
                                        <i class="fa fa-car fa-3x" type="button" data-appointlet-organization="mobile-cutz" data-appointlet-bookable="26770"><span class="subtitle">Book</span></i>
                                        <a href="http://www.instagram.com"><i class="fa fa-instagram fa-3x"><span class="subtitle">instagram</span></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="profile-card text-center">
                                <img class="img-responsive" src="https://images.unsplash.com/photo-1447877085163-3cce903855cd?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925">
                                <div class="profile-info">
                                    <img class="profile-pic" src="http://pixel.nymag.com/imgs/daily/vulture/2015/09/15/15-kit-harington-got-snow.w529.h529.jpg">
                                    <script src="https://d35xd5ovpwtfyi.cloudfront.net/loader/loader.min.js?v=1440696613" async defer></script>
                                    <h2 class="hvr-underline-from-center">Jon Snow<span>Professional Stylist/ King of the North</span></h2>
                                    <star-rating-comp rating="'3.0'"></star-rating-comp>
                                    <div>"Jon Snow saved my life.. then he fixed my split ends" - Danerys Dragonstone, LA

                                        <br>"When the Night King comes, I know my hair will be ready thanks to Jon.. and
                                        the three-eyed raven of course" - Bran Winterfell, MN
                                    </div>
                                    <div class="row">
                                        <i class="fa fa-car fa-3x" type="button" data-appointlet-organization="mobile-cutz" data-appointlet-bookable="26769"><span class="subtitle">Book</span></i>
                                        <a href="http://www.instagram.com"><i class="fa fa-instagram fa-3x"><span class="subtitle">instagram</span></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="profile-card text-center">
                                <img class="img-responsive" src="https://images.unsplash.com/photo-1454678904372-2ca94103eca4?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925">
                                <div class="profile-info">
                                    <img class="profile-pic" src="http://wmeimgspeakers.com/sites/default/files/speakers/JB%20head%20shot%20website%202015.jpg">
                                    <h2 class="hvr-underline-from-center">Blake Thomas<span>Professional Stylist</span></h2>
                                    <star-rating-comp rating="'3.0'"></star-rating-comp>
                                    <div>"Great stylist, friendly and informative" - George Gardendale, AL
                                        <br>
                                        <br>"Blake helped me look great just minutes before a meeting, I would surely recommend
                                        him!" - Tim Denver,CO
                                    </div>
                                    <div class="row">
                                        <i class="fa fa-car fa-3x" type="button" data-appointlet-organization="mobile-cutz" data-appointlet-bookable="26770"><span class="subtitle">Book</span></i>
                                        <a href="http://www.instagram.com"><i class="fa fa-instagram fa-3x"><span class="subtitle">instagram</span></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="profile-card text-center">
                                <img class="img-responsive" src="https://images.unsplash.com/photo-1454678904372-2ca94103eca4?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925">
                                <div class="profile-info">
                                    <img class="profile-pic" src="https://yt3.ggpht.com/-gd6f_-gCIig/AAAAAAAAAAI/AAAAAAAAAAA/Agol3jFXm6g/s900-c-k-no-mo-rj-c0xffffff/photo.jpg">
                                    <h2 class="hvr-underline-from-center">Sarah Hall<span>Professional Stylist</span></h2>
                                    <star-rating-comp rating="'3.0'"></star-rating-comp>
                                    <div>"Sarah is one of the only people in the city who I left touch my hair." - David Birmingham,
                                        AL
                                        <br>
                                        <br>"Came to my office and trimmed all of our departments hair before a board meeting"
                                        - Sam Hoover, AL
                                    </div>
                                    <div class="row">
                                        <i class="fa fa-car fa-3x" type="button" data-appointlet-organization="mobile-cutz" data-appointlet-bookable="26770"><span class="subtitle">Book</span></i>
                                        <a href="http://www.instagram.com"><i class="fa fa-instagram fa-3x"><span class="subtitle">instagram</span></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="profile-card text-center">
                                <img class="img-responsive" src="https://images.unsplash.com/photo-1454678904372-2ca94103eca4?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925">
                                <div class="profile-info">
                                    <img class="profile-pic" src="https://media1.popsugar-assets.com/files/thumbor/MYdqS3PVfe80-SpS-JRNd3OSbxE/fit-in/550x550/filters:format_auto-!!-:strip_icc-!!-/2015/09/08/016/n/1922794/09a82372_edit_img_image_16119370_1441749076_lenny-thumb/i/Lenny-Kravitz-CB2-Line.jpg">
                                    <h2 class="hvr-underline-from-center">Mike Mcconnell<span>Professional Stylist</span></h2>
                                    <div>"Mike allowed me to make it to my son's football game on time." - Frank Atlanta, GA
                                        <br>
                                        <br>"Talented and professional, and he's really good at singing Lenny Kravitz songs
                                        for some reason - Barbara Trussville, AL "
                                    </div>
                                    <div class="row">
                                        <span>
                                        <i class="fa fa-car fa-3x" type="button" data-appointlet-organization="mobile-cutz" data-appointlet-bookable="26770"><span class="subtitle">Book</span></i>
                                        <a href="http://www.instagram.com"><i class="fa fa-instagram fa-3x"><span class="subtitle">instagram</span></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-4">
                            <div class="profile-card text-center" ng-repeat="id in Users | filter:{role:'stylist'}">
                                <img class="img-responsive" src="https://images.unsplash.com/photo-1447877085163-3cce903855cd?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925">
                                <div class="profile-info">
                                    <img class="profile-pic" src="{{user.profileImg}}">
                                    <script src="https://d35xd5ovpwtfyi.cloudfront.net/loader/loader.min.js?v=1440696613" async defer></script>
                                    <h2 class="hvr-underline-from-center">{{user.firstName}} {{user.lastName}}<span>Professional Stylist/ King of the North{{</span></h2>
                                    <div>When the Night King comes knocking at your door, will your hair be ready? Be the talk
                                        of Westeros. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                    <div class="row">
                                        <i class="fa fa-car fa-3x" type="button" data-appointlet-organization="mobile-cutz" data-appointlet-bookable="26769"></i>
                                        <a href="http://www.linkedin.com"><i class="fa fa-linkedin fa-3x"><span class="subtitle">linkedin</span></i></a>
                                    </div>
                                </div>
                            </div>

                        </div> -->
                        <br>

                        <!-- <button class="btn btn-outlined btn-danger btn-lg" style="position:center-align" ng-click="logout()">Log Out</button> -->
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>