<!-- var appTypscript =require('../src/app.ts');  -->
<link rel="stylesheet" type="text/css" href="/../stylesheets/starRating.css">
<p>
    <star-rating-comp id="single.id" rating="single.rating" show-half-stars="single.showHalfStars" disabled="single.disabled"
        read-only="single.readOnly" space="single.space" size="single.size" num-of-stars="single.numOfStars" static-color="single.color"
        speed="single.speed" label-text="single.rating" label-position="single.position" star-type="single.starType" get-color="single.getColor"
        get-half-star-visible="single.getHalfStarVisible" on-click="single.onClick($event)" on-update="single.onUpdate($event)">
    </star-rating-comp>
    <!--
            get-color="single.getColor(rating, numOfStars)"
                    on-click="single.onClick($event)"
                    on-update="single.onUpdate(rating)"
            -->
</p>