<div class="container">
    <div id="logoDiv"> TrimR
    </div>
    <br>
    <br>
    <div class="wrapper">
        <h2 class="newAccount">Finishing Up</h2>
        <h2 class="newAccount2">Payments and such</h2>
        <form id="signup-form">

            <div class="form-group">
                <label for="cardNumber">
                    CARD NUMBER</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number" required autofocus />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    </div>
                    <p>suck a billion dicks</p>
            </div>
            <div class="row">
                <div class="col-xs-7 col-md-7">
                    <div class="form-group">
                        <label for="expiryMonth">
                                    EXPIRY DATE</label>
                        <div class="col-lg-6 pl-ziro">
                            <input type="text" class="form-control" id="expiryMonth" placeholder="MM" required />
                        </div>
                        <div class="col-lg-6 pl-ziro">
                            <input type="text" class="form-control" id="expiryYear" placeholder="YY" required /></div>
                    </div>
                </div>
                <div class="col-xs-5 col-md-5 pull-right">
                    <div class="form-group">
                        <label for="cvCode">
                                    CV CODE</label>
                        <input type="password" class="form-control" id="cvCode" placeholder="CV" required />
                    </div>
                </div>
            </div>
            <button ng-click="doThis()" class="btn btn-danger btn-lg" id="signUpBtn">Let's do this</button>
    </div>
    <div class="text-center">

    </div>
    </form>
</div>
</div>