<div class="container">
    <div id="logoDiv"> TrimR
    </div>
    <br>
    <br>
    <div class="wrapper">
        <h2 class="newAccount">Your hair </h2>
        <h2 class="newAccount2">deserves better</h2>
        <form ng-submit="getTrimrd()" id="signup-form">

            <div class="form-group">
                <label class="sr-only" form="email">Email Address</label>
                <input type="email" class="form-control input-sm" id="email" placeholder="Email" ng-model="newUser.email">
            </div>
            <div class="form-group">
                <!-- <label class="sr-only" form="subject">Password </label> -->
                <label class="sr-only" form="subject">Password </label>
                <input type="password" class="form-control input-sm" id="pass" placeholder="Password" ng-model="newUser.password">
            </div>
            <div class="form-group">
                <label class="sr-only" form="subject">Confirm Password </label>
                <input type="password" class="form-control input-sm" id="confpass" placeholder="Confirm Pasword">
            </div>
            <div class="form-group">
                <label class="sr-only" form="subject">Zip Code </label>
                <input type="integer" class="form-control input-sm" id="zipcode" placeholder="Zip Code" ng-model="newUser.zip">
            </div>

            <div class="text-center">
                <input type="submit" class="btn btn-danger btn-lg" id="signUpBtn" value="Get trimrd">
                <br>
            </div>
        </form>
    </div>
</div>
