<div class="container">
   <div id="logoDiv" a href="/"><span class="glyphicon glyphicon-scissors" id="logo">trimr</span></a>
</div>
    <div id="login" class="heading" role="dialog">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <h2 class="newAccount">Your hair </h2>
                <h2 class="newAccount2">deserves better</h2><br>
                <form>
                     <input type="email" class="form-control input-sm" id="email" placeholder="Email" ng-model="newUser.email">
                    <input type="password" ng-model="password" placeholder="Password" required>
                    <label class="sr-only" form="subject">Confirm Password </label>
                    <input type="password" class="form-control input-sm" id="confpass" placeholder="Confirm Password" required>
                    <div class="form-group">
                        <label class="sr-only" form="subject">Zip Code </label>
                        <input type="integer" class="form-control input-sm" id="zipcode" placeholder="Zip Code" ng-model="newUser.zip">
                    </div>
                    <!-- <input type="submit" class="btn btn-danger btn-lg" id="signUpBtn" value="Get trimrd"> -->
                    <button type="button" class="btn btn-danger btn-lg" ng-click="getTrimrd()">Get trimr</button>
                    <button type="button" class="btn btn-default btn-lg" ng-click="home()">Cancel</button>
                </form>

                <div class="login-help">
                    <!-- #######FIX THIS SHIT###### -->
                    <a href="http://www.5z8.info/awesome-real-life-headshots_c5l9nk_56-DEPLOY-TROJAN-287.mw9----">Forgot Password</a>
                </div>
            </div>
        </div>
    </div>
    <div class="fillerBottom"></div>