<div class="container">
    <div id="logoDiv"> TrimR
    </div>
    <br>
    <br>
    <div class="wrapper">
        <h2 class="newAccount">Your hair </h2>
        <h2 class="newAccount2">deserves better</h2>
        <form id="signup-form">
    
            <div class="form-group">
                <label class="sr-only" form="email">Email Address</label>
                <input type="email" class="form-control input-sm" id="email" placeholder="Email" ng-model="email">
            </div>
            <div class="form-group">
                <label class="sr-only" form="subject">Password </label>
                <input type="password" class="form-control input-sm" id="pass" placeholder="Password" ng-model="pass">
            </div>
            <div class="form-group">
                <label class="sr-only" form="subject">Confirm Password </label>
                <input type="password" class="form-control input-sm" id="confpass" placeholder="Confirm Pasword" ng-model="confPass">
            </div>
                <div class="form-group">
                <label class="sr-only" form="subject">Zip Code </label>
     
                <input type="integer" class="form-control input-sm" id="zipcode" placeholder="Zip Code" ng-model="zip">
                  <button ng-click="getTrimrd()" class="btn btn-danger btn-lg" id="signUpBtn">Get TrimRd</button>
            </div>
            <div class="text-center">
           
            </div>
        </form>
    </div>
</div>