<div id="login" class="heading" role="dialog">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1 class="loginH1">Stylists Login</h1><br>
            <form>
                <input type="email" ng-model="email" placeholder="E-mail Address" autofocus, required>
                <input type="password" ng-model="password" placeholder="Password" required>
                <button class="btn btn-danger btn-lg" ng-href="file:///Users/chrisfinney/Downloads/Calendar/index.html">Login </button>
                <button type="button" class="btn btn-default btn-lg" ng-click="home()">Cancel</button>
            </form>

            <div class="login-help">
                <!-- #######FIX THIS SHIT###### -->
                <a href="http://www.5z8.info/awesome-real-life-headshots_c5l9nk_56-DEPLOY-TROJAN-287.mw9----">Forgot Password</a>
            </div>
        </div>
    </div>
</div>