<div class="jumbotron">
  <div class="container" id="welcome">
    <div class="row">
      <div class="col-sm-12">
        <div class="valign">
          <div class="start-box">
            <!-- THIS IS THE TEST ENVIRONMENT -->
            <h1>your time is the most important</h1>
            <h1>thing</h1>
              <h1><strong>you own</strong></h1>
            <br>
            <h2>Connecting mobile stylists to you</h2>
            <br>
            <button ng-click="getStarted()" class="btn btn-danger btn-lg" id="startBtn">Get Started</button>
            <br>

            <br>
            <a href="/login" id="accountlink">Already have an account? Log in</a>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">

  <hr>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <img src="./images/icons/004-smartphone.svg" class="img-responsive" id="icon1" alt="Image">
      <h2>Quick Response | Future Scheduling</h2>
      <p>Message a stylist</p>
      <p>Confirm your appointment</p>
    </div>
    <div class="col-sm-3">
      <img src="./images/icons/002-car.svg" class="img-responsive" id="icon2" alt="Image">
      <h2>Our Mobile Stylist Comes to You</h2>
      <p>We only hire highly talented</p>
      <p> Certified Stylist</p>
    </div>
    <div class="col-sm-3">
      <img src="./images/icons/003-cut.svg" class="img-responsive" id="icon3" alt="Image">
      <h2>A stylist cuts Your hair </h2>
      <p>You save time</p>
      <p>Your stylist makes more money than a traditional shop</p>
    </div>
    <div class="col-sm-3">
      <img src="./images/icons/001-happy.svg" class="img-responsive" id="icon4" alt="Image">
      <h2>You look like a <em>Billion</em> Bucks</h2>
      <p>Happiness guaranteed</p>
      <p>It's what Don Draper would do</p>
    </div>
  </div>
</div><br>
<div>
  <!-- ********REMOVE THIS BUTTON LATER********* -->
  <button ng-click="logout()">Log out</button>
 